[Unit]
Description=consumerWebsite nodejs service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Environment="NODE_ENV=production"

ExecStart=/usr/bin/env node /home/mpuser/MP/consumerWebsite/bin/www

[Install]
WantedBy=multi-user.target
