<%- include('top') %>

	<style>
		#sensorDataList {
			padding-top: 2.5em;
		}
	</style>

	<ul id="sensorDataList">
		<li jq-repeat='sensorData'>
			sensorId: {{ sensorid }}
			location: {{ locationid }}
			created: {{ createdAt }}
			<br />
			co: {{ measurement.co }}
			humidity: {{ measurement.humidity }}
			no2: {{ measurement.no2 }}
			o3: {{ measurement.o3 }}
			psi: {{ measurement.psi }}
			so2: {{ measurement.so2 }}
			temperature: {{ measurement.temperature }}
			windspeed: {{ measurement.windspeed }}
			<hr />
		</li>
		<li jq-repeat-defualt='sensorData'>
			Loading...
		</li>
	</ul>

	<script type="text/javascript">
		$(document).ready(async function () {
			app.api.get('sensor-data/data?order=DESC&limit=6', function(error, data){
            $.scope.sensorData.push(...data);
        })
		})

	</script>
	<%- include('bot') %>