<%- include('top') %>

	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">401
				<small>Unauthorized Acess</small>
			</h1>
		</div>
	</div>

	<!-- Page Content -->
	<div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active">401</li>
			</ol>
		</div>

		<div class="error-contents">
			<h3>Unauthorized Access!</h3>
			<div class="error-img">
				<img class="img-fluid" src="images/401.png" alt="" />
			</div>
			<p>Sorry, you don't have permission to access this resource. Please log in or provide valid credentials.</p>
			<a class="btn btn-primary" href="/"> Back To Homepage </a>
		</div>
		<!-- /.jumbotron -->

	</div>
	<!-- /.container -->

<%- include('bot') %>