
<!--footer starts from here-->
<footer class="footer">
   <div class="container bottom_border">
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
            <!--headin5_amrc-->
            <p><i class="fa fa-location-arrow"></i> Blk 645 Jalan Tenaga</p>
            <p><i class="fa fa-phone"></i> +65 90064959</p>
            <p><i class="fa fa fa-envelope"></i> Leongdingxuan@gmail.com </p>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
            <!--headin5_amrc ends here-->
            <ul class="footer_ul2_amrc">
               <li>
                  <a href="#"><i class="fab fa-facebook-f fleft padding-right"></i> </a>
                  <a href="#">https://www.facebook.com/</a></p>
               </li>
               <li>
                  <a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
                  <a href="#">https://www.instagram.com/</a></p>
               </li>
               <li>
                  <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                  <a href="#">https://twitter.com/</a></p>
               </li>
            </ul>
            <!--footer_ul2_amrc ends here-->
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6">
            <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
               <li><a href="/">Home</a></li>
               <li><a href="/news">News</a></li>
               <li><a href="/contact">Contact</a></li>
            </ul>
            <!--footer_ul_amrc ends here-->
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 ">
            <h5 class="headin5_amrc col_white_amrc pt2">News</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
               <li class="media">
                  <div class="media-left">
                     <img class="img-fluid" src="images/post-img-01.jpg" alt="" />
                  </div>
                  <div class="media-body">
                     <p>Singapore's air quality ...</p>
                     <span>7 oct 2023</span>
                  </div>
            </ul>
            <ul class="footer_ul_amrc">
               <li class="media">
                  <div class="media-left">
                     <img class="img-fluid" src="images/post-img-01.jpg" alt="" />
                  </div>
                  <div class="media-body">
                     <p>Singapore Government ...</p>
                     <span>29 Sep 2023</span>
                  </div>
            </ul>
            <ul class="footer_ul_amrc">
               <li class="media">
                  <div class="media-left">
                     <img class="img-fluid" src="images/post-img-01.jpg" alt="" />
                  </div>
                  <div class="media-body">
                     <p>High risk of severe ...</p>
                     <span>22 Jun 2023</span>
                  </div>
            </ul>
         </div>
      </div>
   </div>
   <div class="container text-center">
      <br>
      <p>All Rights Reserved. &copy; 2023 <a href="/">EcoSaver</a>
      </p>
   </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/api.js"></script>
<script src="js/learnmore.js"></script>
<script src="js/search.js"></script>

</body>
