<%- include('logintop') %>

<body>
    <section class="wrapper">
        <div class="form">
            <!--  -->
            <div class="error-contents">
                <h3>Please check your email for the reset password link</h3>
            </div>

            <br>
            <a>Dont have an account?</a> <a href="/login">Sign Up</a>
            <br>
            <a>Already have an account?</a> <a href="/login">Login</a> 
        </div>
    </section>
</body>