<%- include('logintop') %>

<body>
    <section class="wrapper">
        <div class="form">
            <header>Reset Password</header>
            <form action="/resetpassword">
                <input type="text" id="email" placeholder="Email" required />
                <input type="password" id="password" placeholder="Password" required />
                <input type="password" id="confirmPassword" placeholder="Confirm Password" required />
                <input type="submit" value="Reset Password" />
            </form>
            <br>
            <a>Dont have an account?</a> <a href="/login">Sign Up</a>
        </div>
    </section>
</body>