<%- include('logintop') %>

<body>
    <section class="wrapper">
        <div class="form">
            <header>Reset Password</header>
            <form action="auth/checkemail" onsubmit="formAJAX(this) "evalAJAX="app.auth.checkEmailRedirect();">
                <input type="email" name="email" placeholder="Email" required
                pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
                <input type="submit" value="Reset Password" />
            </form>
            <br>
            <a>Dont have an account?</a> <a href="/login">Sign Up</a>
        </div>
    </section>
</body>