<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="css/all.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/learnmore.css" rel="stylesheet">
    <link href="css/contact.css" rel="stylesheet">



    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap 5 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <!-- jquery app.js -->
    <script src="js/app.js"></script>

</head>

<body>

    <!-- javascript function to check if user is auth -->
    <!-- wait for DOC to be ready -->
    <script>
        $(document).ready(function () {
            app.auth.isLoggedIn(function (error, data) {
                if (data) {
                    $('#cl-logout-button').show();
                    $('#cl-profile-button').show();
                    $('#cl-login-button').hide();
                } else {
                    $('#cl-login-button').show();
                }
            });
        });
    </script>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <!-- profile button -->
                    <div class="form-inline mt-2 mt-md-0">
                        <a id="cl-profile-button" class="btn btn-outline-danger my-2 my-sm-0" href="/profile"
                            style="display: none;">
                            <i class="fas fa-sign-out"></i>
                            Profile
                        </a>
                        <a id="cl-login-button" class="btn btn-outline-danger my-2 my-sm-0"
                            onclick="app.auth.forceLogin()" style="display: none;">
                            <i class="fas fa-sign-out"></i>
                            Login
                        </a>
                        <button id="cl-logout-button" class="btn btn-outline-danger my-2 my-sm-0"
                            onclick="app.auth.logOut(e => window.location.href='/')" style="display: none;">
                            <i class="fas fa-sign-out"></i>
                            Log Out
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>


</body>

</html>

<!--
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <div class="form-inline mt-2 mt-md-0">
            <a id="cl-login-button" class="btn btn-outline-danger my-2 my-sm-0"
                onclick="app.auth.forceLogin()" style="display: none;">
                <i class="fas fa-sign-out"></i>
                Login
            </a>
            <button id="cl-logout-button" class="btn btn-outline-danger my-2 my-sm-0"
                onclick="app.auth.logOut(e => window.location.href='/')" style="display: none;">
                <i class="fas fa-sign-out"></i>
                Log Out
            </button>
        </div>
    </li>
</ul>

-->