<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.13, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/parallax/jarallax.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=b1g2Yh"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css?v=b1g2Yh" type="text/css">
</head>
<body>
  <section data-bs-version="5.1" class="menu menu5 cid-u2mrL2wdLO" once="menu" id="menu05-1i">
	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" >EcoSaver Management</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="index.html#header01-7">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="index.html#features04-w" aria-expanded="false">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="index.html#contacts02-9">Contacts</a>
					</li>
				</ul>
				<div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="https://admin.teeseng.uk/login">Login</a></div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header5 cid-tJS6uM4N87" id="header05-1">
	<div class="topbg"></div>
	<div class="align-center container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-9">
				<h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>WELCOME TO ECOSAVER MANAGEMENT</strong></h1>
				<p class="mbr-text mbr-fonts-style mb-4 display-7">Here at ECOSAVER MANAGEMENT, we are tasked to secure and protect ECOSAVER to provide<br>consumers with the best experience</p>
				
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-12 col-lg-12">
				<img src="assets/images/ecosostenibilita-1000x500.jpeg" alt="Mobirise Website Builder" title="">
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features4 cid-tMlEXTHLbS" id="features04-w">
	
	
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Services</strong></h4>
					<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">At EcoSaver, we are committed to empowering individuals and businesses to embrace a greener, more sustainable lifestyle. We are designed to make eco-friendly choices accessible and effortless, ensuring a positive impact on both the environment and your bottom line.</h5>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-image col-12 col-md-6 col-lg-6 active">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="assets/images/air-pollution-1679x944.jpg" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Ecosaver</strong></h5>
						
						<p class="mbr-text mbr-fonts-style display-7">EcoSaver is proud to offer a cutting-edge Air Quality Service, providing real-time air quality data for Singapore. It allows anyone to access crucial information about the air they breathe, empowering individuals and communities to make informed decisions for their well-being.</p>
						<div class="mbr-section-btn item-footer"><a href="https://ecosaver.teeseng.uk/" class="btn item-btn btn-primary display-7">Learn more</a></div>
					</div>

				</div>
			</div><div class="item features-image col-12 col-md-6 col-lg-6">
				<div class="item-wrapper">
					<div class="item-img">
						<img src="assets/images/the-expansion-of-cloud-applications-has-added-to...-766x476.png" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
					</div>
					<div class="item-content">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Ecosaver Management</strong></h5>
						
						<p class="mbr-text mbr-fonts-style display-7">
							EcoSaver Management is unwaveringly dedicated to delivering paramount security within the EcoSaver system. Our paramount objective is to establish and maintain a secure environment, ensuring the safety of every individual who engages with the EcoSaver platform.</p>
						<div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Learn more</a></div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="header1 cid-tJS9vXDdRK" id="header01-7">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-7 image-wrapper">
				<img class="w-100" src="assets/images/gallery01.jpg" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-lg col-md-12">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>About us</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						EcoSaver is made by 4 student of Temasek Polytechnic studying cyber security and digital forensics for their major project</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="contacts2 map1 cid-tLdYHD757A mbr-parallax-background" id="contacts02-9">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
    <div class="container-fluid">
        <div class="mbr-section-head mb-5">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contacts</strong>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-5">
                <div class="card-wrapper">
                    <div class="text-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                        <strong>Get in touch</strong></h5>
                    <ul class="list mbr-fonts-style display-7">
                        <li class="mbr-text item-wrap"><span style="font-size: 1.4rem;">Phone: 6666 6666</span></li>
                        <li class="mbr-text item-wrap">Email: ecosaverx@gmail.com</li><li class="mbr-text item-wrap"><br></li>
                        <li class="mbr-text item-wrap">Address: </li><li class="mbr-text item-wrap">21 Tampines Ave 1, Singapore 529757</li><li class="mbr-text item-wrap"><span style="font-size: 1.4rem;">Working hours:</span><br></li><li class="mbr-text item-wrap">8:30AM - 6:00PM</li>
                    </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section data-bs-version="5.1" class="footer1 programm5 cid-tJS9NNcTLZ" once="footers" id="footer03-8">
    <div class="container">
        <div class="row">
            <div class="row-links mb-4">
                <ul class="header-menu">
                <li class="header-menu-item mbr-fonts-style display-5"><a href="index.html#header01-7" class="text-danger">About</a></li><li class="header-menu-item mbr-fonts-style display-5"><a href="index.html#features04-w" class="text-danger text-primary">Services</a></li><li class="header-menu-item mbr-fonts-style display-5"><a href="index.html#contacts02-9" class="text-danger">Contacts</a></li></ul>
              </div>
            <div class="col-12">   
            </div>
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">
                    © Copyright 2030 Ecosaver - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="https://mobiri.se/3136804" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/ai-website-builder.html">AI Website Builder</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  <input name="animation" type="hidden">
  </body>
</html>

