<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Eco Saver</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
      <% if (error) { %>
        <div style="color: red; text-align: center;"><%= error %></div>
      <% } %>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
      <button type="submit">Login</button>
    </form>

    <div class="reset-link-container">
      <p>If you have forgotten your password, please <span class="reset-link" onclick="location.href='/forgot-password'">reset here</span>.</p>
    </div>
  </div>
</body>

</html>
